.primary-btn {
  min-width: 220px;
  height: 70px;
  border: none;
  background: #9de9e4;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 0 0 35px 0;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
}

.outline-btn {
  min-width: 220px;
  height: 70px;
  background: transparent;
  color: #fff;
  border: 1px solid #7fded8;
  font-size: 18px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 0 0 35px 0;
  transition: all 0.3s ease;
}

.outline-btn:hover {
  background: #7fded8;
  color: #111;
}